<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lm.ldar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>

    <application
        android:name=".LMApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--定位服务-->
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote"> </service>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="5VjMPiQQkfU4ru63Lb4O2P8LAPKbyA0j" />

        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.DetectionActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.InputtingActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.MeActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.ReviewActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.ImageInfoActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.DrawPointActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            />
        <activity
            android:name=".activity.ImageListActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.BigImageActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.MapAvtivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".activity.ImagePagerActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".activity.ImageEditActivity"
            android:launchMode="singleTask">
        </activity>
    </application>

</manifest>